<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcom to Kurio App</title>
  </head>

  <body
    style="
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      line-height: 24px;
    "
  >
    <center>
      <div
        style="background-color: white; padding: 32px 16px; max-width: 618px; text-align: start;"
      >
        <p>Hello {{name}}, Thank you for using Kurio App !</p>
        <p>Here is a code to confirm your account : </p>
        <div
          style="margin: 32px 0 ; background-color: #8a0080; padding: 12px 24px; font-size: 16px; color: white; border-radius: 8px; text-decoration: none;"
        >
          <center>
            <p>{{token}}</p>
          </center>
        </div>
        <p style="margin-top: 24px;">
          Best regards,
          <br />
          Kurio App Team
        </p>
      </div>
    </center>
  </body>

</html>