<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
</head>

<body
  style="
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-family: Arial, sans-serif;
  "
>
  <center>
    <div
      style="background-color: #f5f5f5; padding: 32px 16px; max-width: 600px; text-align: start;"
    >
      <h2 style="color: #333;">We're thrilled to share some exciting updates with you! 🚀</h2>
      <p>
        Dear {{name}},
      </p>
      <p>
        {{description}}
      </p>
      <p>
        Thank you for being a valued member!
      </p>
      <p>
        Best regards,
        <br />
        The wa9i3 Saver Team
      </p>
    </div>
  </center>
</body>

</html>
